/* Background color */
.theme-background,
.theme-foreground-backgroud,
.theme-form legend,
.theme-form input,
button,
div,
li a {
   background: #2d3e50;
}

/* Foreground color */
.theme-foreground,
.theme-form legend,
.theme-form input,
button,
div,
a,
li a,
hr {
   color: #ffffff;
}

/* Reversed background color */
.theme-background-reversed,
li a:hover,
li a:focus,
hr {
   background: #ffffff;
}

/* Reversed foreround color */
.theme-foreground-reversed,
input[type="number"],
li a:hover,
li a:focus,
textarea,
select {
   color: #2d3e50;
}

/* Table */
table {
    border: 1px solid #ffffff;
    text-align: left;
}
td,
th {
    border-bottom: 1px solid #ffffff;
}
tr:nth-child(even) { 
    background-color: #283442;
}
tr:hover {
    background-color: #1d2733;
}

/* Link that look like button  */
.a-button {
    text-decoration: none;
    background-color: #2d3e50;
    color: #ffffff;
    padding: 0px 8px 0px 8px;
    border: 2px outset #ffffff;
}