@model AspExample.ViewModels.CreateUpdateHappeningViewModel
@{
    Layout = "MainLayout";
}

<div style="margin: 10px">

    <!-- Show form to create or update happening -->
    @using (Html.BeginForm("CreateUpdateHappening", "Home", FormMethod.Post))
    {
        <div>
            <p>Please enter data in a form below:</p>
        </div>

        <!-- Show controls to update viewmodel fields -->
        <div>
            @Html.LabelFor(Model => Model.Name)
            @Html.ValidationMessageFor(Model => Model.Name, null, new { @class = "error" })
        </div>
        <div> 
            @Html.TextAreaFor(Model => Model.Name, 3, 20, null)
        </div>
        <div>
            @Html.LabelFor(Model => Model.RatingId)
        </div>
        <div>
            @Html.DropDownListFor(Model => Model.RatingId,
                                  new SelectList(Model.Ratings, "Value", "Text"))
        </div>

        <!-- Send back viewmodel data to controller -->
        @Html.HiddenFor(Model => Model.Id)
        @Html.HiddenFor(Model => Model.PreviousPageAction)
        for (var i = 0; i < Model.Ratings.Count(); i++)
        {
            @Html.HiddenFor(m => m.Ratings[i].Value)
            @Html.HiddenFor(m => m.Ratings[i].Text)
        }

        <div>
            <!-- Display "Create" or "Update" button -->
            @if(Model.Id == 0)
            {
                <button>Create</button>
                <!-- Use link styled as button to send GET request without query string -->
                @Html.ActionLink("Cancel", @Model.PreviousPageAction, "Home",
                                 null, new { @class="a-button"} )
            }
            else
            {
                <button>Update</button>
                @Html.ActionLink("Cancel", "GetHappenings", "Home",
                                 null, new { @class="a-button"} )
            }
        </div>
    }

</div>
