@model AspExample.ViewModels.GetHappeningsViewModel
@{
    Layout = "MainLayout";
}

<div style="margin: 10px">

    <!-- Use inline-block to make div size match its contents -->
    <div style="display: inline-block">

        <table class="table" ;>
            <tr>
                @{
                    var firstRow = Model.Table.FirstOrDefault();
                    <!-- Set column width to form width in CreateUpdateHappening view !-->
                    <th style="width:242.5px;">
                        @Html.DisplayNameFor(Model => firstRow.Name)
                    </th>
                    <!-- Set column width to widest string in dropdown !-->
                    <th style="width:126.4px;">
                        @Html.DisplayNameFor(Model => firstRow.RatingName)
                    </th>
                    <th> </th>  
                    <th> </th>
                }
            </tr>
            @foreach (var item in Model.Table)
            {
                <tr>
                    <td>
                        <!-- Show text with newlines as in textarea -->
                        <pre>@Html.DisplayFor(Model => item.Name)</pre>
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.RatingName)
                    </td>
                    <td>
                        @Html.ActionLink("Update", "UpdateHappening", "Home", 
                                  new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                    <td>
                        @Html.ActionLink("Remove", "RemoveHappening", "Home",
                                  new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </table>

        <!-- Center pagination view -->
        <div style="width: 50%; margin: auto;">
            @Html.Partial("~/Views/Partial/PaginationTextBox.cshtml", Model.Pagination)
        </div>

    </div>

    @using (Html.BeginForm("CreateHappening", "Home", FormMethod.Get))
    {
       <button>Create</button>
    }
 </div>
