@{
    Layout = "MainLayout";
    ViewData["Title"] = "Index";
}
<h2>Index view</h2>
<p>Hello from Index.cshtml default web page! The following pages are available:</p>
<ul>
  <li>@Html.ActionLink("Create happening", "CreateHappening", "Home")</li>
  <li>@Html.ActionLink("Get happenings", "GetHappenings", "Home")</li>
</ul> 
