
/* <html>, <body> */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Page wrapper */
.wrapper-body {
    display: table;
    height: 100%;
    width: 100%;
}

/* Spacing */
td,
th {
    padding: 1em;
}

/* Apply style to 'div' elements which are children of 'form' element */
form > div {
    margin: 0.5em;
}

/* Apply style to 'button' elements which are destcendants of 'form' element */
form button {
    margin-top: 0.5em;
}

/* Remove spinbuttons from number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}



/* Header */
.grid-top {
    display: table-row;
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}

.section-top-left {
    padding: 0.5em;
}

.section-top-left a {
    padding: 1.5em;
    color: #ffffff;
}

.section-top-left li a:hover,
.section-top-left li a:focus {
    border: none;
}

.section-top-right {
    padding: 1.2em;
    text-align: right;
}

.button-top-right {
    padding: 0.8em;
    color: #2d3e50;
    border-radius: 0px;
}

.button-join {
     color: #ffffff;
     margin-left: 0.5em;
     background: #009933;
}



/* Content */
.div-content-row {
    display: table-row;
    height: 100%;
}

.div-content {
    padding: 0.8em;
    height: 100%;
}

pre {
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
    font-family: DejaVu Sans;
}

p {
    font-size: 105%;
}



/* Footer */
.menu-bottom {
    display: table-row;
    text-align: right;
}
.menu-bottom li a:hover,
.menu-bottom li a:focus {
    background: transparent;
    color: #6699ff;
}



/* Custom classes */
.error {
    display: block;
    color: red;
}