<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="~/css/purecss/pure-min.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" type="text/css" href="{~/css/purecss/grids-responsive-old-ie-min.css}" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" type="text/css" href="~/css/purecss/grids-responsive-min.css" />
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="~/css/common/theme-dark.css" />
    <link rel="stylesheet" type="text/css" href="~/css/views/base.css" />

    <title>@ViewData["Title"] - Example App</title>
</head>

<body>
    <div class="wrapper-body">

        <!-- Header -->
        <div class="pure-g grid-top">
            <div class="pure-u-sm-1-2 pure-u-1">
                <div class="section-top-left pure-menu pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            @Html.ActionLink("Start", "Index", "Home",
                                              null, new { @class = "pure-menu-link" })
                        </li>
                        <li class="pure-menu-item">
                            @Html.ActionLink("About", "About", "Home",
                                              null, new { @class = "pure-menu-link" })
                        </li>
                        <li class="pure-menu-item">
                            @Html.ActionLink("Contact", "Contact", "Home",
                                              null, new { @class = "pure-menu-link" })
                        </li>                   
                     </ul>
                </div>
            </div>
            <div class="pure-u-sm-1-2 pure-u-1">
                <div class="section-top-right">
                    <a class="button-top-right pure-button" href="{% url 'login' %}">Logowanie</a>
                    <a class="button-top-right button-join pure-button" href="{% url 'register' %}">Rejestracja</a>
                </div>
            </div>
        </div>
        <hr>

        <!-- Content -->
        <div class="div-content-row">
            <div class="div-content">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        <div class="menu-bottom pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <li class="pure-menu-item">
                        @Html.ActionLink("Documentation", "Documentation", "Home",
                                          null, new { @class = "pure-menu-link" })
                    </li>           
                    <li class="pure-menu-item">
                        @Html.ActionLink("Licence", "Licence", "Home",
                                          null, new { @class = "pure-menu-link" })
                    </li>     
            </ul>
        </div>
    </div>

</body>
</html>
