@model AspExample.ViewModels.Partial.PaginationTextBoxViewModel

<!-- Show form with pagination controls -->
@using (Html.BeginForm(Model.ValueChanged, Model.Controller, FormMethod.Get))
{
    <div style="text-align:center; padding:8px">

        <!-- Link to previous page -->
        @Html.ActionLink("❮", Model.ValueChanged, new { page = Model.CurrentPage -1 },
                         new { style="text-decoration:none;" })

        <!-- Current page number -->
        @Html.TextBox("page", Model.CurrentPage.ToString(),
                      new { @type = "number",
                      @style = "width: 50px; margin-left: 5px; margin-right: 5px;" })

        <span style="margin-right: 5px;">of @Model.MaxPage</span>             
            
        <!-- Link to next page -->
        @Html.ActionLink("❯", Model.ValueChanged, new { page = Model.CurrentPage + 1 },
                         new { style="text-decoration:none; "} )

    </div>
}
